<!-- <form [formGroup]="checkboxForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let option of options">
    <input type="checkbox" [id]="option.value" [value]="option.value" [formControlName]="option.value">
    <label [for]="option.value">{{ option.label }}</label>
  </div>
  <button type="submit" [disabled]="!checkboxForm.valid">Submit</button>
  <div *ngIf="checkboxForm.controls['selectedOptions'].invalid && (checkboxForm.controls['selectedOptions'].dirty
  && checkboxForm.controls['selectedOptions'].touched)">
    <small class="text-danger" *ngIf="checkboxForm.controls['selectedOptions'].errors?.['required']">
      At least one option must be selected.
    </small>
  </div>
</form> -->
